@media screen and (max-width: 576px) {
  
  

  .menu, .button1{
    display: none;
  }

  .hide-menu{
    display: block;
  }

  .button2{
    padding: 19px 30px 19px 20px;
  }

  nav{
    justify-content: space-between;
    padding: 0 30px;
  }

  .banner-content{
    padding: 80px 20px;
  }

  .legal-card{
    border: none;
    border-top: 1px solid rgba(231, 231, 231, 1);
    border-radius: 8px;
  }

  .legal{
    grid-template-columns: repeat(1, 1fr);
    padding: 0 15px;
  }

  .client-card{
    margin: 5px;
  }

  .question-card-box{
    flex-direction: column-reverse;
    padding: 5px;
  }

  .question-card-box img{
    width: 100%;
  }



  
}