@media screen and (max-width: 576px) {
  
  

  .menu, .button1{
    display: none;
  }

  .hide-menu{
    display: block;
  }

  .button2{
    padding: 19px 30px 19px 20px;
  }

  nav{
    justify-content: space-between;
    padding: 0 30px;
  }

  .banner-content{
    padding: 80px 20px;
  }

  .legal-card{
    border: none;
    border-top: 1px solid rgba(231, 231, 231, 1);
    border-radius: 8px;
  }

  .legal{
    grid-template-columns: repeat(1, 1fr);
    padding: 0 15px;
  }

  .client-card{
    margin: 5px;
  }

  .question-card-box{
    flex-direction: column-reverse;
    padding: 5px;
  }

  .question-card-box img{
    width: 100%;
  }

  .contact-cards{
    grid-template-columns: repeat(1, 1fr);
  }

  .contact-form{
    flex-direction: column;
  }

  .submit{
    max-width: 300px;
  }

  footer{
    flex-direction: column;
    text-align: center;
  }

  .footer_logo p{
    margin: 0 auto;
    margin-top: 32px;
  } 

  .logo2, .email{
    margin: 0 auto;
  }

  .address, .number{
    margin: 0 auto;
    margin-bottom: 16px;
  }

  .Subscribe p{
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .mail{
    max-width: 254px;
  }

  .subscribe-box{
    margin: 0 auto;
  }



  
}