*{
  margin: 0;
  padding: 0;
}
.garamond{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

.poppins{
  font-family: "Poppins", sans-serif;
}

:root{
  --h-color: #414040;
  --p-color: #707070;
  --btn-color: #B68C5A;
  --hf-h-color: #ffffff;
  --h-p-color: #CFCFCF;
  --bnf-p-color: #E7E7E7;
  --wbtn-color: #A0A0A0;
}

/* h: heading, h: header, f: footer, p: paragraph, w: white */

/* Share Style */


.banner-heading{
  font-family: "EB Garamond", serif;
  font-size: 4.5rem;
  color: var(--hf-h-color);
  line-height: 85px;
  font-weight: 800;
  margin-bottom: 24px;
}

.heading2{
  font-family: "EB Garamond", serif;
  font-size: 2.5rem;
  color: var(--h-color);
  font-weight: 800;
}

.paragraph{
  font-size: 1rem;
  line-height: 26px;
}


.logo img{
  width: 44.62px;
  height: 45px;
}

.logo h3{
  font-size: 2.1875rem;
  font-weight: 400;
  color: var(--h-color);
}

.logo{
  display: flex;
  gap: 16px;
  /* justify-content: center; */
  align-items: center;
}

.menu ul li {
  list-style: none;
  font-size: 1rem;
  color: #707070;
}

.menu ul{
  display: flex;
  align-items: center;
  gap: 30px;
}

.button1{
  padding: 19px 30px;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: var(--btn-color);
  color: var(--hf-h-color);
}

.hide-menu{
  display: none;
  font-size: 1.5rem;
  color: var(--h-color);
  font-weight: 400;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.menu{
  margin-left: 135px;
  margin-right: 135px;
}

header{
  padding-top: 50px;
}

.banner p{
  color: var(--bnf-p-color);
  margin-bottom: 32px;
}

.button2{
  padding: 19px 314px 19px 20px;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  background-color: var(--hf-h-color);
  color: var(--wbtn-color);
}

.button3{
  padding: 17px 39px;
  font-size: 1.250rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: var(--btn-color);
  color: var(--hf-h-color);
}

.btn-box1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.banner{
  background-image: linear-gradient(180.00deg, rgba(17, 17, 17, 1) 0%,rgba(17, 17, 17, 0) 100%), url('../images/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1170px;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
}

.banner-content{
  padding: 104px 239px;
}

.legal-section p{
  margin: 0 auto;
  margin-top: 24px;
  color: var(--p-color);
  max-width: 714px;
}

.legal-section{
  margin-top: 120px;
  text-align: center;
}

.legal-logo{
  margin-top: 56px;
}

.legal-card h4{
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  color: var(--h-color);
  font-weight: 800;
}

.legal-card p{
  max-width: 258px;
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 24px;
}

.legal-icon{
  margin-bottom: 70px;
}

.legal-card{
  max-width: 401px;
}

.legal-card2{
  border: 1px solid rgba(231, 231, 231, 1);
  background: linear-gradient(180.00deg, rgba(243, 243, 243, 1) 0%,rgba(243, 243, 243, 0) 100%);
}

.legal-card4, .legal-card6{
  border-top: 1px solid rgba(231, 231, 231, 1);
}

.legal-card5{
  border-left: 1px solid rgba(231, 231, 231, 1);
  border-right: 1px solid rgba(231, 231, 231, 1)
}

.legal{
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  margin-top: 64px;
}

.client-section .p1{
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 64px;
  color: var(--p-color);
  max-width: 714px;
}

.client-section{
  margin-top: 120px;
  text-align: center;
}

.client-card{
  background-image: linear-gradient(180.00deg, rgba(17, 17, 17, 1) 0%,rgba(17, 17, 17, 0.525) 100%), url('../images/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1170px;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
  padding: 0 50px;
  box-sizing: border-box;
}

.client-card img{
  width: 70px;
  margin-top: 96px;
  margin-bottom: 24px;
}

.client-card h5{
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--hf-h-color);
  /* margin-bottom: 10px; */
}

.p2{
  color: var(--hf-h-color);
}

.lr-arrow{
  font-size: 1.3rem;
  color: var(--hf-h-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p3{
  margin: 0 auto;
  margin-top: 21px;
  padding-bottom: 40px;
  color: var(--hf-h-color);
  max-width: 900px;
}

.line1{
  width: 40px;
  height: 3px;
  background-color: rgba(112, 112, 112, 1);
}

.line2{
  width: 40px;
  height: 3px;
  background-color: rgba(255, 255, 255, 1);
}

.line3{
  width: 40px;
  height: 3px;
  background-color: rgba(112, 112, 112, 1);
}

.lines{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  padding-bottom: 96px;
}

.q-heading{
  display: flex;
}

.question-section h2{
  margin-bottom: 24px;
}

.question-section p{
  margin: 0 auto;
  margin-bottom: 64px;
  max-width: 714px;
  color: var(--p-color);
}

.question-section{
  text-align: center;
  margin: 120px 0;
}

.q-heading{
  color: var(--h-color);
  display: flex;
  align-items: center;
  gap: 68px;
}

.q-card h5{
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
  font-weight: 800;
}
.q-card p{
  color: var(--p-color);
  max-width: 504px;
  margin: 0;
  margin-top: 16px;
}

.q-card{
  text-align: start;
  padding: 32px 35px;
  background-color: #F3F3F3;
  border-radius: 8px;
  margin-bottom: 30px;
}

.question-card-box{
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact-section h2{
  margin-bottom: 24px;
}

.contact-section p{
  color: var(--p-color);
  max-width: 714px;
  margin: 0 auto;
}

.contact-section{
  text-align: center;
}
.c-card img{
  width: 40px;
  margin-bottom: 16px;
}

.c-card h5{
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--h-color);
  margin-bottom: 16px;
}

.c-card p{
  text-align: start;
}

.c-card{
  padding: 65px 61px;
  width: 285px;
  height: 285px;
  box-sizing: border-box;
  background-color: #F3F3F3;
}

.c-card1{
  border-right: 1px solid rgba(207, 207, 207, 1);
  border-bottom: 1px solid rgba(207, 207, 207, 1);
}

.c-card4{
  border-left: 1px solid rgba(207, 207, 207, 1);
  border-top: 1px solid rgba(207, 207, 207, 1);
}

.contact-cards{
  max-width: 570px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


/* .button4{
  font-size: 1rem;
  line-height: 26px;
  color: var(--p-color);
  background-color: #F3F3F3;
  padding: 23px 458px 23px 23px;
  border: none;
  border-radius: 8px;
} */

.input{
  background-color: #F3F3F3;
  padding: 26px 0 23px 26px;
  max-width: 570px;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
}

.input::placeholder{
  font-size: 1rem;
  color: var(--p-color);
}

#input4{
  font-size: 1rem;
  color: var(--p-color);
  background-color: #F3F3F3;
  padding: 25px 0 113px 25px;
  width: 100%;
  max-width: 570px;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
}

.submit{
  background-color: var(--btn-color);
  color: var(--hf-h-color);
  font-size: 1.25rem;
  font-weight: 600;
  padding: 25px 0;
  text-align: center;
  width: 100%;
  width: 570px;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
}

.btn-box2{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  gap: 30px;
}

.contact-form{
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  margin-top: 64px;
  max-width: 1170px;
  margin-bottom: 60px;
}


footer h5{
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--hf-h-color);
  margin-bottom: 47px;
}

footer p{
  color: var(--h-p-color);
}

.logo2 h3{
  color: var(--hf-h-color);
}

.logo2{
  max-width: 159px;
}

.footer_logo p{
  max-width: 259px;
  margin-top: 32px;
}

.usefull_link ul li{
  list-style: none;
  color: #CFCFCF;
}

.usefull_link ul{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address{
  max-width: 216px;
  margin-bottom: 16px;
}

.number{
  max-width: 149px;
  margin-bottom: 16px;
}

.email{
  max-width: 132px;
  margin-bottom: 16px;
}

.Subscribe p{
  max-width: 217px;
  margin-bottom: 24px;
}

.mail{
  width: 254px;
  background-color: #FFFFFF;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 23px 0;
  padding-left: 33px;
  box-sizing: border-box;
}

.mail::placeholder{
  font-size: 1rem;
  line-height: 26px;
  color: var(--wbtn-color);
}

.send-icon{
  width: 24px;
}

.email-btn{
  padding: 18px;
  border: none;
  border-radius: 8px;
  background-color: var(--btn-color);

  position: relative;
  left: -5px;
}

.subscribe-box{
  display: flex;
  align-items: center;
  max-width: 325px;
}

footer{
  background-color: #111111;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 81px;
  padding-top: 120px;
  padding-bottom: 108px;

}