.garamond{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
}

.poppins{
  font-family: "Poppins", sans-serif;
}

:root{
  --h-color: #414040;
  --p-color: #707070;
  --btn-color: #B68C5A;
  --hf-h-color: #ffffff;
  --h-p-color: #CFCFCF;
  --bnf-p-color: #E7E7E7;
  --wbtn-color: #A0A0A0;
}

/* h: heading, h: header, f: footer, p: paragraph, w: white */

/* Share Style */


.banner-heading{
  font-family: "EB Garamond", serif;
  font-size: 4.5rem;
  color: var(--hf-h-color);
  line-height: 85px;
  font-weight: 800;
}

.paragraph{
  font-size: 1rem;
  line-height: 26px;
}


.logo img{
  width: 44.62px;
  height: 45px;
}

.logo h3{
  font-size: 2.1875rem;
  font-weight: 400;
  color: var(--h-color);
}

.logo{
  display: flex;
  gap: 16px;
  /* justify-content: center; */
  align-items: center;
}

.menu ul li {
  list-style: none;
  font-size: 1rem;
  color: #707070;
}

.menu ul{
  display: flex;
  align-items: center;
  gap: 30px;
}

.button1{
  padding: 19px 30px;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: var(--btn-color);
  color: var(--hf-h-color);
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu{
  margin-left: 135px;
  margin-right: 135px;
}

.banner p{
  color: var(--bnf-p-color);
}

.button2{
  padding: 19px 314px 19px 20px;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  background-color: var(--hf-h-color);
  color: var(--wbtn-color);
}

.button3{
  padding: 17px 39px;
  font-size: 1.250rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: var(--btn-color);
  color: var(--hf-h-color);
}

.btn-box1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.banner{
  background-image: linear-gradient(180.00deg, rgba(17, 17, 17, 1) 0%,rgba(17, 17, 17, 0) 100%), url('../images/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1170px;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
}

.banner-content{
  padding: 104px 239px;
}